// Fonts ------------------
$f_h: "Montserrat", Sans-Serif; // Headings
$f_txt: "Lato", Sans-Serif; // Body text

$fonts-path: "../fonts" !default;

// Colors ------------------
$color-white: oklch(100% 0.005 285.823);
$color-dark: oklch(14% 0.005 285.823);
$color-primary: oklch(58% 0.233 277.117);
$color-secondary: oklch(65% 0.241 354.308);
$color-accent: oklch(77% 0.152 181.912);
$color-success: oklch(76% 0.177 163.223);
$color-warning: oklch(82% 0.189 84.429);
$color-danger: oklch(71% 0.194 13.428);

// Font sizes ---------------------
$s_h1: 48px;
$s_h2: 36px;
$s_h3: 28px;
$s_small_title: 24px;
$s_medium: 18px;
$s_p: 16px;
$s_small_p: 14px;
$s_link: 16px;
$s_link_small: 14px;

// Wrappers ---------------------
$wrapper-width: 1120px;
$wrapper-medium-width: 1080px;
$wrapper-small-width: 960px;
$wrapper-extra-small-width: 710px;

$wrapper-wide-width: 1200px;
$wrapper-large-width: 1440px;

// Breakpoints ------------------
$breakpoints: (
  mobile-small: 320px,
  mobile: 599px,
  tablet-small: 768px,
  tablet-portrait: 980px,
  tablet-landscape: 1024px,
  desktop: 1280px,
  wide-screen: 1600px,
);
